body {
  background: url(../images/cotton-d.png);
  font-family: Karla,arial,Helvetica,osaka;
  size-adjust: 0.5;
  inline-height: 1.6;
}

h1 {
  font-size: 6em;
  font-family: Signika,arial,Helvetica,osaka;
  margin-top: 140px;
  margin-left: 80px;
  margin-bottom: 5px;
}

p {
  font-size: 1.5em;
  margin-left: 100px;
}
